.header {
    background-color: #0e3c6d!important;
}

.plugins-tips a {
    color: #0e3c6d!important;
}

.el-upload--text em {
    color: #0e3c6d!important;
}

.pure-button {
    background: #0e3c6d!important;
}

.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
    background-color: #0e3c6d !important;
    border-color: #0e3c6d !important;
}

.tags-li.active {
    border: 1px solid #0e3c6d!important;
    background-color: #0e3c6d!important;
}

.collapse-btn:hover {
    background: #0e3c6d!important;
}